.header {
    padding: 40px;
    text-align: right;
}

.imgFull {
    background-size: cover;
    background-position-y: center;
}

.img1 {
    height: 350px;
    background-image: url(../img/uno.jpg);
}

.img2 {
    background-image: url(../img/dos.jpg);
    height: 500px;
    background-position-y: top;
}

.img3 {
    background-image: url(../img/tres.jpg);
    height: 500px;
    background-position-y: top;
}

.salmon {
    background-color: #363738;
    color: #ffffff;
}

.green {
    background-color: #ffffff;
     color: #ffffff;
}

.separator {
    height: 20px;
}

.article {
    margin: 40px auto;
    text-align: center;
    padding: 30px;
}

.footer {
    padding: 10px;
    text-align: right;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}
